* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p, h1, h2, h3, h4 {
    line-height: 1.5em;
}

h1 {
    font-size: 32px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: underline;}

.nav-container {
    background-color: #255EE9;
    padding: 10px 0;
}

.nav-container > nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav > div, nav > ul {
    padding: 5px;
}

.header-link {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.link-item {
    margin: 0 10px;
}

.link-item a {
    color: #FFF;
}

.header-login {
    text-align: right;
}

.button {
    padding: 10px 15px;
    border-radius: 20px;
    border-width: 0;
}

.bt-style2 {
    background-color: #23272A;
    color: #FFF;
}

.bt-style3 {
    background-color: #7289DA;
    color: #FFF;
}

.bt-arrow::before {
    content: '\1F817';
    margin-right: 3px;
    font-size: 20px;
    line-height: 1rem;
    vertical-align: middle;
}

.hd-bt-container > h1 {
    margin-bottom: 20px;
}

.hd-bt-container > button {
    margin: 10px 5px 0px 5px;
}

.header-bottom {
    background-image: url('../img/jumbo.png');
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.hd-bt-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #FFF;
}

.section-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

main section:nth-child(even) {
    background-color: #F6F6F6;
}

.img-container {
    width: 60%;
}

.img-container > img {
    width: 100%
}

.txt-container {
    width: 40%;
}

section h1 {
    margin-bottom: 10px;
}

.section-container2 {
    max-width: 800px;
    margin: auto;
    padding: 30px 0 60px 0;
    text-align: center;
}

.bottom-container > img {
    height: 500px; 
}

#star-container {
    height: 50px;
    background-image: url('../img/stars.svg'); 
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bottom-container > button {
    margin-top: 10px;
}

footer {
    background-color: #23272A;
    color: #FFF;
}

#ita-flag {
    height: 12px;
}

.ft-sec-item span::after {
    content: '\25BC';
    margin-left: 3px;
}

.ft-sec-item i {
    margin-right: 15px;
}

.footer-section {
    max-width: 800px;
    margin: auto;
    display: flex;
    padding: 30px 0 20px 0;
    border-bottom: 2px solid #7289DA;
}

.ft-sec-item {
    width: 30%;
}

.ft-sec-item2 {
    width: calc(70% / 4);
}

.footer-section h2, .footer-section h4 {
    color: #7289DA;
}

.ft-sec-item2 ul {
    list-style: none;
}

.ft-sec-item2 a {
    color: #FFF;
}

.footer-section h2, #flag-line, .footer-section p, .footer-section h4, .footer-section li {
    margin-bottom: 10px;
}

.footer-bottom {
    padding: 15px 0 30px 0;
}

.ft-bt-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}





/* debug body class per layout */

.debug header .nav-container {
    background-color: #ADD8E6;
}

.debug nav div, .debug nav ul {
    background-color: #DAA520;
    border: 1.5px dashed black;
}

.debug header .header-bottom {
    background-color: #00008B;
}

.debug .header-bottom .hd-bt-container {
    background-color: #EE82EE;
}

.debug .section-container .img-container {
    background-color: #1E90FF;
}

.debug .section-container .txt-container {
    background-color: #FFC0CB;
}

.debug .section-container2 .bottom-container {
    background-color: #228B22;
}

.debug footer .footer-container {
    background-color: #23272A;
}

.debug .footer-section .ft-sec-item {
    background-color: #F08080;
    border: 1.5px dashed black;
}

.debug .footer-section .ft-sec-item2 {
    background-color: #20B2AA;
    border: 1.5px dashed black;
}

.debug footer .footer-bottom {
    background-color: #23272A;
}

.debug .footer-bottom .ft-bt-container {
    background-color: #7FFFD4;
}

.debug .ft-bt-container div {
    background-color: #FFB6C1;
    border: 1.5px dashed black;
}